<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail kostola</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../lib/bootstrap/less/bootstrap.css">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="../styles/creative/creative.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="index2.html">DoKostola.sk</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="search.html">VYHĽADAŤ</a>
                </li>
                <li>
                    <a class="page-scroll" href="detail.html">KOSTOLY</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">O STRÁNKE</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">BOHOSLUŽBY V ZAHRANIČÍ</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">KONTAKT</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-content">
        <div class="header-content-inner">

            <div class="row">
                <div class="col-sm-12">
                    <h1>Kaplnka Najsvätejšieho Srdca Ježišovho</h1>
                    <h2>(Nemocnica v Kaštieli)</h2>
                </div>
            </div>

        </div>
    </div>
</header>

<div class="container">

    <br><br><br>

<div class="row">
    <div class="col-sm-12">
        <img src="../img/temp/kostol1.png" alt="">
    </div>
    <div class="col-sm-12">
        <img src="../img/temp/kostol2.png" alt="">
    </div>
    <div class="col-sm-12">
        <img src="../img/temp/kostol3.png" alt="">
    </div>

</div>

    <br><br><br>

</div>

<footer class="bg-dark">

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <aside>
                    <h4>Kontakt</h4>
                    <span>Občianske združenie Admissam</span><br>
                    <span>Družstevná 6</span><br>
                    <span>841 04 Bratislava</span><br>
                    <br>
                    <span>Bankové spojenie: 2660752071/1100</span><br>
                    <span>IČO: 42137993</span><br>
                </aside>

            </div>
            <div class="col-sm-4">
                <aside>
                    <h4>Navigácia</h4>
                    <ul>
                        <li><a href="#">Vyhľadať</a></li>
                        <li><a href="#">Kostoly</a></li>
                        <li><a href="#">O stránke</a></li>
                        <li><a href="#">Bohoslužby v zahraničí</a></li>
                        <li><a href="#">Kontakt</a></li>
                    </ul>
                </aside>

            </div>
            <div class="col-sm-4">
                <aside>
                    <h4>&nbsp;</h4>
                    <ul>
                        <li><a href="#">Novinky</a></li>
                        <li><a href="#">Partneri</a></li>
                        <li><a href="#">Poďakovanie</a></li>
                        <li><a href="#">Podmienky používania</a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>

</footer>


<!-- jQuery -->
<script src="../vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="../vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Theme JavaScript -->
<script src="../scripts/creative.min.js"></script>


</body>
</html>